.App {
  padding: 0;
  margin: 0;
}

body{
  background: #F2F2F2;
}

.Sidebar{
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 34px 20px;
  gap: 34px;

  position: absolute;
  width: 229px;
  height: 950px;
  left: 16px;
  top: 16px;

  background:url('../src/RadicallX-Black-Logo 1.png') top 10% center no-repeat, #FFFFFF;
  box-shadow: 0px 12px 34px rgba(0, 0, 0, 0.04);
  border-radius: 24px;

}
.dashboard{

  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  margin-top: 200px;
  height: 48px;
  width: 189px;
  left: 0px;
  top: 0px;
  border-radius: 16px;
  border-color: white;
  padding: 12px 16px 12px 16px;
  background: url('../src/dashboard-3.png') no-repeat;
  background-position:left 10% center;



}
.apprenterships{
  border: 0;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  line-height: 24px;
  margin-top: 0px;
  height: 48px;
  width: 189px;
  left: 0px;
  top: 0px;
  border-radius: 16px;
  border-color: white;
  padding: 12px 16px 12px 16px;
  background: url('../src/medal-star.png') no-repeat;
  background-position:left 10% center;



}
.internships{
  border: 0;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-top: 0px;
  height: 48px;
  width: 189px;
  left: 0px;
  top: 0px;
  border-radius: 16px;
  padding: 12px 16px 12px 16px;
  border-color: white;
  background: url('../src/book.png') no-repeat;
  background-position:left 10% center;


}
.jobs{
  border: none;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-top: 0px;
  height: 48px;
  width: 189px;
  left: 0px;
  top: 0px;
  border-radius: 16px;
  border-color: white;
  padding: 12px 16px 12px 16px;
  background: url('../src/briefcase.png') no-repeat;
  background-position:left  10% center;


}
.settings{
  border: 0;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin-top: 0px;
  height: 48px;
  width: 189px;
  left: 0px;
  top: 0px;
  border-color: white;
  border-radius: 16px;
  padding: 12px 16px 12px 16px;
  background: url('../src/setting-2.png') no-repeat;
  background-position:left  10% center;


}
.Username{
  position: relative;
  left: 80px;
  top: 420px;
  font-family: 'Space Grotesk';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.30000001192092896px;
  text-align: left;

}
.user-icon{
  content:" "; display:block;
  height:50px; width:50px;
  background:#E2E6EB;
  position:relative; left:5px;top:380px;
  border-radius:2em;
}

.DisplayInfo{
  position: relative;
  top: 245px;
  left: 350px;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 16px;
  gap: 16px;


  width: 1400px;
  height: 270px;

  /* Snow */
  background: #FFFFFF;
  border-radius: 16px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.Prompt{
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 10px;

  width: 280px;
  height: 238px;

  /* Grey Light */
  background: #F6F5F9;
  border-radius: 16px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.Prompt body{
  background-color: #F6F5F9;
}
.Prompt h1{
  width: 248px;
  height: 24px;

  /* Desktop/H5 */
  font-family: 'Eloquia Display';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;

  /* identical to box height, or 120% */
  font-feature-settings: 'liga' off;

  /* Gray 1 */
  color: #333333;



  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.Prompt p{

  width: 229px;
  height: 120px;

  font-family:'Space Grotesk';
  font-style: normal;
  font-weight: 00;
  font-size: 14px;
  line-height: 20px;

  /* or 143% */
  letter-spacing: 0.3px;
  font-feature-settings: 'liga' off;

  /* Dark */
  color: #1E1E1E;




  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

}
.FilterBar{
  position:relative;
  bottom: 270px;
  left: 325px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px;
  gap: 10px;

  width: 813px;
  height: 48px;

  /* Gray 6 */
  background: #F2F2F2;
  border-radius: 12px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

}
.FilterBar h1{
  position: relative;
  right: 350px;
  bottom: 160px;
}
.createnew{

  width: 157px;
  height: 20px;

  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  /* identical to box height, or 143% */
  text-align: center;
  letter-spacing: 0.4px;
  font-feature-settings: 'liga' off;

  color: #FFFFFF;
  position: relative;
  left: 870px;
  bottom: 490px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;

  width: 217px;
  height: 44px;

  /* Purple */
  background: url('./add-square.png') no-repeat, #793EF5;
  border-radius: 12px;
  background-position: 5% 60%;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.tab-content{

  width: 789px;
  height: 174px;


  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  position: relative;
  top: -80px;
  background: url('../src/Funnel.png') no-repeat;
}
.tab-list{
  position: relative;
  bottom: 110px;
}
.tab-list .label{
    position: relative;

    margin-left: 60px;

}
[label react-tabs-component/src/App.css] .tab-list {
  border-bottom: 2px solid #ccc;
  padding-left: 0;
}
.tab-list-item {
  margin: 0px 5px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  /* identical to box height, or 143% */
  text-align: center;
  font-feature-settings: 'liga' off;


  background-color: white;
  display: inline-block;
  list-style: none;
  border-radius: 8px;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;


  align-items: flex-start;
  padding: 6px 12px;
  gap: 8px;

  width: 100px;
  height: 32px;

  /* Snow */
  background: #FFFFFF;
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
/* THIS DATE TAB*/
.tab-list-item:last-child {
  position: relative;
  left: 380px;
  background: url('../src/calendar-2.png') no-repeat;
  background-color: white;
  background-position: 10% 19%;

}
.tab-list-active {
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  /* identical to box height, or 143% */
  text-align: center;
  font-feature-settings: 'liga' off;
  color: white;
  background-color: #793EF5;
  height: 28px;
  width: 91px;
  left: 0px;
  top: 0px;
  border-radius: 8px;
  padding: 6px 12px 6px 12px;

}
.tab-list-active:last-child{
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  /* identical to box height, or 143% */
  text-align: center;
  font-feature-settings: 'liga' off;
  color: white;
  background-color: #793EF5;
  height: 28px;
  width: 91px;

  border-radius: 8px;
  padding: 6px 12px 6px 12px;

}

.filtertab{
  width: 1430px;
  height: 400px;
  border-radius: 16px;
  position: relative;
  left: 350px;
  top: 320px;

  background-color: white;
}
.List{
  right: 10px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  /* identical to box height, or 171% */
  font-feature-settings: 'liga' off;

  /* Text/Text - 01 */
  top: -70px;
  display: inline-flex;
  width: 250px;
  height: 56px;
  position: relative;
  margin: 10px;
}
.List button{
  display: inline-flex;
  width: 300px;
  border: none;
  background: url("./arrow-square-down.png") no-repeat;
  background-position: 100% 5%;
}
